[run]
source = .
omit =
    manage.py
    *urls.py
    *__init__.py*
    src/*
    *migrations*
    *tests*

[report]
source = .
omit =
    manage.py
    *urls.py
    *__init__.py*
    src/*
    *migrations*
    *tests*